<section class="section section-benefits">
  <h2 class="visually-hidden">benefits</h2>
  <div class="container">
    <ul class="benefits-card">
      <li class="benefits-card-list">
        <div class="benefits-card-content">
          <p class="benefits-card-subtitle">Effortless Validation for</p>
          <h3 class="benefits-card-title">Management</h3>
          <p class="benefits-card-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="benefits-sublist">
            <li class="benefits-sublist-item">
              <h4 class="benefits-sublist-title">Accessory makers</h4>
              <p class="benefits-sublist-text">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>

            <li class="benefits-sublist-item">
              <h4 class="benefits-sublist-title">Alterationists</h4>
              <p class="benefits-sublist-text">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
        <img
          class="benefits-card-img"
          src="./images/management-img-min.svg"
          alt="management"
          width="540"
          height="500"
        />
      </li>

      <li class="benefits-card-list">
        <div class="benefits-card-content">
          <p class="benefits-card-subtitle">Easier decision making for</p>
          <h3 class="benefits-card-title">Customer Support</h3>
          <p class="benefits-card-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="benefits-sublist">
            <li class="benefits-sublist-item">
              Never worry about overpaying for your energy again.
            </li>

            <li class="benefits-sublist-item">
              We will only switch you to energy companies that we trust and will
              treat you right
            </li>

            <li class="benefits-sublist-item">
              We track the markets daily and know where the savings are.
            </li>
          </ul>
        </div>
        <img
          class="benefits-card-img"
          src="./images/support-img-min.svg"
          alt="support"
          width="540"
          height="500"
        />
      </li>

      <li class="benefits-card-list">
        <div class="benefits-card-content">
          <p class="benefits-card-subtitle">Optimisation for</p>
          <h3 class="benefits-card-title">Collaborative</h3>
          <p class="benefits-card-text">
            Few would argue that, despite the advancements of feminism over the
            past three decades, women still face a double standard when it comes
            to their behavior.
          </p>
          <ul lass="benefits-sublist">
            <li class="benefits-sublist-item">
              <h4 class="benefits-sublist-title">Accessory makers</h4>
              <p class="benefits-sublist-text">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li class="benefits-sublist-item">
              <h4 class="benefits-sublist-title">Alterationists</h4>
              <p class="benefits-sublist-text">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
        <img
          class="benefits-card-img"
          src="./images/collaboration-img-min.svg"
          alt="collaboration"
          width="540"
          height="500"
        />
      </li>
    </ul>
  </div>
</section>
